.count-down {
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #000;
  animation: flashBG 8s ease-out forwards;
  width: 100%;
  height: 100%;
  .logo {
    text-align: center;
    padding-top: 1rem;

    img {
      width: 26.6rem;
    }
  }

  .js-count-down {
    margin-top: -10rem;
  }

  .content {
    width: 84rem;
    height: 52rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    z-index: 9;

    .txt-title {
      margin: 0 auto;
      text-align: center;
      position: relative;
      height: 32.7rem;

      img {
        width: 66rem;
        max-width: none;
        animation-delay: 2s;

        &.title-effect {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          margin: 0 auto;
          animation-delay: 3s;
        }
      }

      .bg-title-home {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 55rem;
        height: 32.7rem;
        background-image: url(../images/daikynguyen-effect.png);
        background-blend-mode: screen;
        background-size: 100%;
      }
    }

    .remain-day {
      margin-top: -13rem;
      text-align: center;
      position: relative;
      z-index: 7;

      h2 {
        margin: 0;
        font-size: 5.5rem;
        color: #fff;
      }
    }

    .btn-action {
      margin-top: 2rem;
      text-align: center;

      a {
        margin-right: 2.5rem;
        position: relative;

        img {
          transition: transform 0.2s cubic-bezier(0.4, 0, 1, 1);
        }

        .main-btn {
          width: 17.7rem;
        }
        i {
          position: absolute;
          left: 2.5rem;
          z-index: 9;
          top: 1.3rem;
          -moz-animation: rotate 3s ease infinite;
          -webkit-animation: rotate 3s ease infinite;
          -o-animation: rotate 3s ease infinite;
          -ms-animation: rotate 3s ease infinite;
          animation: rotate 3s ease infinite;
          &.ico-home {
            img {
              width: 2.5rem;
            }
          }

          &.ico-down {
            img {
              width: 2.3rem;
            }
          }

          &.ico-face {
            left: 2.7rem;
            img {
              width: 2.2rem;
            }
          }

        }
        &:hover {
          img {
            opacity: 0.8;
          }
          i{
            transform: rotateY(0);
          }
        }

      
      }
    }
  }

  .character {
    img {
      position: absolute;
      pointer-events: none;
      max-width: none;

      &.char-1 {
        width: 115rem;
        top: 8.5rem;
        left: 38rem;
        z-index: 4;
        animation-delay: 0.5s;
      }

      &.char-2 {
        width: 58.6rem;
        z-index: 2;
        left: 45rem;
        top: 28rem;
        animation-delay: 0.8s;

      }

      &.char-3 {
        z-index: 1;
        right: 41rem;
        top: 0rem;
        width: 42rem;
        animation-delay: 0.8s;

      }

      &.char-4 {
        z-index: 1;
        left: 56rem;
        top: 7rem;
        width: 40rem;
        animation-delay: 1s;

      }

      &.img-bottom {
        width: 40rem;
        bottom: -9rem;
        width: 192rem;
        z-index: 5;
      }
    }
  }
}
@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }

  100% {
      transform: rotateY(360deg);
  }
}
@keyframes flashBG {
  0% {
    background: url(../images/bg-count-down-f.png) no-repeat;
  }
  40% {
    background: url(../images/bg-count-down-s.png) no-repeat;
  }
  100% {
    background: url(../images/bg-count-down-t.png) no-repeat;
  }
}
.countdownHolder > span{
  &.count-days{
    .position{
      .countWord{
        background-image: url(../images/countdown/words_days.png);
      }
      .digit{
        background-image: url(../images/countdown/frame_days.png);
      }
    } 
  }
}