@font-face {
  font-family: 'UTMFacebook';
  src: url('/fonts/UTMFacebookK-T.eot?#iefix') format('embedded-opentype'),
    url('/fonts/UTMFacebookK-T.woff') format('woff'),
    url('/fonts/UTMFacebookK-T.ttf') format('truetype'),
    url('/fonts/UTMFacebookK-T.svg#UTMFacebookK-T') format('svg');
    font-weight: 300;
}
@font-face {
  font-family: 'UTMFacebook';
  src: url('/fonts/UTMFacebookK-TBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/UTMFacebookK-TBold.woff') format('woff'),
    url('/fonts/UTMFacebookK-TBold.ttf') format('truetype'),
    url('/fonts/UTMFacebookK-TBold.svg#UTMFacebookK-TBold') format('svg');
    font-weight: 700;
}
