a {
  display: inline-block;
  outline: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);

  &:hover {
    text-decoration: none;
  }

  &:link {
    text-decoration: none;
  }
}

body {
  background: #000;
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: 400;
  overflow: hidden;
}

img {
  max-width: 100%;
}


section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #070c4c;
  &.animate-in {
    display: block;
  }
}

.page {
  background: #00012c;

}

.container {
  overflow: hidden;
}
